 body {
      margin: 0;
      padding: 0;
    }

    #map {
        position: absolute;
        left:1px;
        right: 5px;
        top: 0px;
        bottom: 0;
      } 
    
    .sidebar {
      position: absolute;
      left: 5px;
      width: 260px;
      top: 10px;
      bottom: 80px;
      padding: 20px;
      background-color: #FFFFFF;
      overflow-y: scroll;
      font-family: Open Sans, sans-serif;
    }

    .button1{

       color:White;
       background-color:blue;
       padding:8px;
       font-family:Open Sans, sans-serif;
       font-size:21px;
       display: inline-block;
       cursor: pointer;
       border: none;
       border-radius: 0px;
       cursor: pointer;
       transition: all 0.5s;
       box-shadow: 0 9px #999;
       opacity: 1;
       transition: 1.5s;
     }


.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button1:hover {background-color: #141488;}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

    
    .card {
      display: inline-block;
      font-size: small;
      border-bottom: solid #D3D3D3 2px;
      margin-bottom: 6px;
      width: 100%;

    }
    
    .card-header {
      font-weight: bold;
      padding: 6px;
      font-weight: bold;
    }

    .no-route {
      background-color: #D3D3D3;
      color: #ff0000;
      
    }

    .obstacle-found {
      background-color: #D3D3D3;
      color: #FFFFFF;
    }

    .route-found {
      background-color: #33A532;
      color: #FFFFFF;
    }
    
    .card-details {
      padding: 3px 6px;
    }